# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.wrangler

BetterSEQTA-Themes
.wrangler/state/v3/d1/miniflare-D1DatabaseObject/a2284828e3cd1b0884a49e9e21eda31bef8034db918926f92b07bc53156a068a.sqlite
/.wrangler
