// $motiva: (
//   ("MotivaSansThin.ttf", "ttf", 100, normal),
//   ("MotivaSansLight.woff.ttf", "woff", 300, normal),
//   ("MotivaSansRegular.woff.ttf", "woff", 400, normal),
//   ("MotivaSansMedium.woff.ttf", "woff", 500, normal),
//   ("MotivaSansBold.woff.ttf", "woff", 600, normal),
//   ("MotivaSansExtraBold.ttf", "woff", 700, normal),
//   ("MotivaSansBlack.woff.ttf", "woff", 900, normal)
// );

// $helvetica: (
//   ("Helvetica.woff", "woff", 400, normal),
//   ("Helvetica-Oblique.woff", "woff", 400, italic),
//   ("Helvetica-Bold.woff", "woff", 600, normal),
//   ("Helvetica-BoldOblique.woff", "woff", 600, italic),
//   ("helvetica-light-587ebe5a59211.woff2", "woff2", 300, normal)
// );

// @each $file, $format, $weight, $style in $motiva {
//   @font-face {
//     font-family: "Motiva Sans";
//     src: url("/fonts/motiva/#{$file}") format($format);
//     font-weight: $weight;
//     font-style: $style;
//   }
// }

// @each $file, $format, $weight, $style in $helvetica {
//   @font-face {
//     font-family: "Helvetica";
//     src: url("/fonts/helvetica/#{$file}") format($format);
//     font-weight: $weight;
//     font-style: $style;
//   }
// }

// @font-face {
//   font-family: "Inter";
//   src: url("/fonts/inter/InterVariable.ttf");
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter";
//   src: url("/fonts/inter/InterVariable-Italic.ttf");
//   font-style: italic;
// }

.carousel__icon {
  color: #f4f4f5;
}
.carousel__pagination-button::after {
  background-color: #3f3f46;
  border-radius: 999999px;
}
.carousel__pagination-button:hover::after {
  background-color: #27272a;
  border-radius: 999999px;
}
.carousel__pagination-button--active::after {
  background-color: #a1a1aa;
}
.carousel__pagination-button--active:hover::after {
  background-color: #d4d4d8;
}

html {
  background-color: oklch(0.21 0.006 285.885);
}

.prose blockquote {
  font-style: italic;
  quotes: none;
  border-left-width: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  padding-left: 1rem;
  color: rgb(161 161 170); /* zinc-400 */
}

/* Tiptap Alignment Classes */
.prose {
  p, h1, h2, h3, h4, h5, h6, ul, ol, li {
    &[style*="text-align: left"] {
      text-align: left;
    }
    &[style*="text-align: center"] {
      text-align: center;
    }
    &[style*="text-align: right"] {
      text-align: right;
    }
    &[style*="text-align: justify"] {
      text-align: justify;
    }
  }

  /* Heading Styles */
  h1 {
    font-size: 2.25rem; /* text-4xl */
    line-height: 2.5rem;
    font-weight: 700;
    color: rgb(255 255 255); /* text-white */
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.875rem; /* text-3xl */
    line-height: 2.25rem;
    font-weight: 700;
    color: rgb(255 255 255); /* text-white */
    margin-top: 1.25rem;
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.5rem; /* text-2xl */
    line-height: 2rem;
    font-weight: 700;
    color: rgb(255 255 255); /* text-white */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1.25rem; /* text-xl */
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(255 255 255); /* text-white */
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  h5 {
    font-size: 1.125rem; /* text-lg */
    line-height: 1.75rem;
    font-weight: 700;
    color: rgb(255 255 255); /* text-white */
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  h6 {
    font-size: 1rem; /* text-base */
    line-height: 1.5rem;
    font-weight: 700;
    color: rgb(255 255 255); /* text-white */
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }

  /* Paragraph Styles */
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
  }

  /* List Styles */
  ul, ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1.5rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  /* Link Styles */
  a {
    color: rgb(74 222 128); /* text-green-400 */
    text-decoration: underline;
    text-decoration-color: rgb(74 222 128 / 0.3);
    transition: all 0.2s;

    &:hover {
      text-decoration-color: rgb(74 222 128);
    }
  }

  /* Image Styles */
  img {
    border-radius: 0.5rem;
    border: 1px solid rgb(63 63 70); /* border-zinc-700 */
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
  }
}